/* src/components/Register.css */

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #b8b8ee, #6d6de9, #6d6de9, #6d6de9, #b8b8ee);
    /* Light blue background */
}

.register-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #070113;
    font-size: 40px;
}

.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-buttons .active {
    background-color: #007bff;
    color: white;
}

.form-area {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-left input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

.form-left button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}