/* Table.css */

.table-container {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #b8b8ee, #6d6de9, #a2a2b3, #6d6de9, #b8b8ee);
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00060c;
}

.table-scroll {
    overflow-x: auto;
}

.dashboard-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 1500px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(14, 13, 13, 0.1);
}

.dashboard-table th,
.dashboard-table td {
    border: 1px solid #080808;
    padding: 6px;
    text-align: center;
}

.dashboard-table th {
    background-color: #161516;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dashboard-table input[type="number"] {
    width: 60px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.dashboard-table input[type="file"] {
    margin-top: 4px;
}

.operator-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 4px;
}
